<div class="container">
    <div class="row"><!-- profile card -->
        <div class="col-md-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/profile_100_100.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://stheory.com/">Manuel Gonzalez</a>
                    </div>
                    <ul class="list-unstyled">

                        <li *ngFor="let desc of descriptions" class="desc" >
                        {{ desc }}
                        </li>

                    </ul>
                </div>
                <div class="bottom">
                    <a class="btn btn-info btn-sm custom-btn" href="https://twitter.com/codingcolor" target="_blank">
                        <i class="fa fa-twitter fa-lg custom-icon" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-default btn-sm custom-btn" href="https://github.com/GonzOne" target="_blank">
                        <i class="fa fa-github fa-lg custom-icon" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-warning btn-sm custom-btn" href="https://www.linkedin.com/in/gonzone" target="_blank">
                        <i class="fa fa-linkedin-square fa-lg linkedin-icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div><!-- end of profile card -->
    <div class="row"><!-- block quote -->
        <div class="col-md-9">
            <h2>A sensor is not a machine.</h2>
            <blockquote>
                <p>
                    Of all the technology trends that are taking place right now, perhaps the biggest one is the Internet of Things;
                    it’s the one that’s going to give us the most disruption as well as the most opportunity over the next five years.
                </p>
                <small>Daniel Burrus <cite title="Source Title">The Internet of Things Is Far Bigger Than Anyone Realizes</cite></small>
            </blockquote>
        </div>
    </div><!-- end of block quote -->

    <div class="container">
        <div class="row">
            <h2>Specs :</h2>
            <ul>
                <li>Linino One</li>
                <li>dogUSB</li>
                <li>Micro Sd Card</li>
                <li>GA1A12S202 Log-scale Analog Light Sensor</li>
                <li>Firebase</li>
                <li>Angular 2</li>
            </ul>
            <div style="margin-top:5px;">
                <small>More info @ <a href="http://www.codingcolor.com" target="_blank">codingcolor.com</a></small>
            </div>

        </div>
    </div>
</div>

